<h2>Eat-Da-Burgers</h2>

<form class="create-form">

  <div class="form-group">
    <textarea type="text" id="ca" name="name"></textarea>
  </div>

  <button type="submit" id="submitButton">Submit</button><br/>
    <label for="sleepy">Enter a burger you want to eat and click "submit button".</label><br>
</form>