<div class="container-fluid">

  {{!-- Heading For UI --}}
  <div class="row topHeading">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2 id="eatBurgerTitle">Eat-Da-Burgers</h2>
    </div>
    <div class="col-md-4"></div>
  </div>

  {{!-- --}}
  <div class="row" id="beforeDevoured">
    <div class="col-sm-4">
      <ul>

        {{#each burger}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-sm-4"></div>

    {{!-- after clicked on devoured button --}}
    <div class="col-sm-4 jumbotron">
      <ul>
      {{#each burger}}
      {{#if devoured}}
      {{> burgers/devouredburger-block devoured=false}}
      {{/if}}
      {{/each}}
    </ul>

    </div>
    


  </div>

  {{!-- Input text area --}}
  <div class="row ">
    <div class="col-md-4"> </div>
    <div class="col-md-4">
      <form id="inputForm">
        <div class="form-group">
          <textarea class="form-control" id="userInputBurger" rows="3"></textarea>
        </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>

  {{!-- Submit Button --}}
  <div class="row ">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary " id="submitButton">Submit</button>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  {{!-- Footer Notes --}}
  <div class="row ">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <label id="endingLabel" for="sleepy">Enter a burger you want to eat and click "submit button".</label>
    </div>
    <div class="col-md-4"></div>
  </div>