*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 2.5;
    background-color: lightgray;
}


.topHeading{
    margin-top: 20px;
}

#eatBurgerTitle{
    margin-bottom: 100px;
   align-items: center;
    font-size: 45px;
    color: green;
}

#inputForm{
    margin-bottom: 50px;
    align-items: center;
}

#submitButton{
    margin-left: 150px;
}

#endingLabel{
    margin-top: 50px;
    color: red;
}

#beforeDevoured{
    margin-left: 100px;
}

.list{
    font-size: 20px;
    color: blue;
}

.change-devoured{
    margin-bottom: 20px;
    border-radius: 100px;
}

.devouredlist{
    color:blue;
    font-size: 20px;
}

