*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    background-color: blanchedalmond;
    
   

}


.topHeading{
    margin-top: 20px;
}

#eatBurgerTitle{
    margin-bottom: 100px;
    margin-left: 80px;
}

#inputForm{
    margin-bottom: 50px;
}

#submitButton{
    margin-left: 150px;
}

#endingLabel{
    margin-top: 50px;
}

#beforeDevoured{
    margin-left: 100px;
    margin-bottom: 150px;
}